<section class='topper'>
    <div class="bigHead">
        <h1 id="pageHead">Sun Times Entertainment and Culture</h1>
        <h3 id="pageHeadInfo">--Stay in the Loop--</h3>
    </div>

<div class="navLinks">
    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/myarticles' id='clearSaved'>Clear all saved Articles</a></li>
    </ul>
</div>

</section>

<section class='articleSectionWrapper'>
    {{#each articles}}
    <div class='articleContainer'>
        <img class='articleIMG' src={{this.image}}>
        <p class="articleCategory">{{this.category}}</p>
        <p class="articleHead"><a href={{this.link}} target='_blank'>{{this.headline}}</a></p>
        <p class='articleDescription'>{{this.summary}}</p>
        <button class='deleteArticle' data-id={{this._id}}>Delete Article</button>
        <button class='commentArticle' data-id={{this._id}}>Comment</button>
    </div>
    {{/each}}
</section>